* {
    margin: 20;
    background-color: antiquewhite ;



}


h1 {

    text-align: center ;

}

header nav ul {

    list-style: none;  
background-color: lightsalmon;


}

header nav ul li {

    display: inline;

    margin: 15px;


}
header nav ul li a{
    text-decoration: none;
    }

    h2{
        font-size: 100px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: oblique;
    
    }




p {

    font-size: 50 px;
    font-family: cursive;
    font-style: oblique;



}

main img {
    width: 50%;
    height: 70%;
    margin:50px;
    float: right;
}

footer {
    text-align: center;


}



